Makefile.in
mainprogs/invert/invert
mainprogs/mesons/mesons
mainprogs/baryons/baryons
mainprogs/multiq/multiq
mainprogs/eigens/eigens
mainprogs/overlap-kl/normality/normality
mainprogs/overlap-kl/ginsparg-wilson-relation/ginsparg-wilson-relation
mainprogs/overlap-kl/locality/locality
mainprogs/overlap-kl/invert/invert
mainprogs/gauge-smear/gauge-smear
testprogs/ape_3d/ape_3d
testprogs/stout_3d/stout_3d
testprogs/op/op
testprogs/source_rms/source_rms
*~
*.dat
*.a
*.o
*.d
*.*~

install/*

mainprogs/*/*/run.sh
mainprogs/*/*/test.txt
mainprogs/*/*/test.err

mainprogs/overlap-Chebyshev/ginsparg-wilson-relation/ginsparg-wilson-relation
mainprogs/overlap-Chebyshev/invert/invert
mainprogs/overlap-Chebyshev/mesons/mesons
mainprogs/overlap-Chebyshev/normality/normality
mainprogs/overlap-Chebyshev/sign-squared-values/sign-squared-values
mainprogs/overlap-Chebyshev/sign-squared-violation/sign-squared-violation

mainprogs/overlap-kl-pfrac/ginsparg-wilson-relation/ginsparg-wilson-relation
mainprogs/overlap-kl-pfrac/invert/invert
mainprogs/overlap-kl-pfrac/mesons/mesons
mainprogs/overlap-kl-pfrac/normality/normality
mainprogs/overlap-kl-pfrac/sign-squared-values/sign-squared-values
mainprogs/overlap-kl-pfrac/sign-squared-violation/sign-squared-violation

*/*/qpb_parameters_scan_files/
*/*/*/qpb_parameters_scan_files/