Makefile.in
mainprogs/invert/invert
mainprogs/mesons/mesons
mainprogs/baryons/baryons
mainprogs/multiq/multiq
mainprogs/eigens/eigens
mainprogs/overlap-kl/normality/normality
mainprogs/overlap-kl/ginsparg-wilson-relation/ginsparg-wilson-relation
mainprogs/overlap-kl/locality/locality
mainprogs/overlap-kl/invert/invert
testprogs/ape_3d/ape_3d
testprogs/stout_3d/stout_3d
testprogs/op/op
testprogs/source_rms/source_rms
*~
*.dat
*.a
*.o
*.d
*.*~
install/
Makefile.in.CYCLONE
mainprogs/overlap-Chebyshev/ginsparg-wilson-relation/run.sh
mainprogs/overlap-Chebyshev/ginsparg-wilson-relation/_params.ini_
mainprogs/overlap-Chebyshev/ginsparg-wilson-relation/log_files/
mainprogs/overlap-Chebyshev/ginsparg-wilson-relation/params_files/
mainprogs/overlap-Chebyshev/ginsparg-wilson-relation/ginsparg-wilson-relation
mainprogs/invert/run.sh
mainprogs/invert/test.txt
mainprogs/invert/test.err
mainprogs/invert/log_files/
mainprogs/invert/params_files/
mainprogs/invert/_params.ini_
mainprogs/mesons/log_files/
mainprogs/mesons/_params.ini_
mainprogs/mesons/run.sh
mainprogs/mesons/params_files/
mainprogs/overlap-Chebyshev/mesons/params_files/
mainprogs/overlap-Chebyshev/mesons/log_files/
mainprogs/overlap-Chebyshev/mesons/_params.ini_
mainprogs/overlap-Chebyshev/mesons/run.sh
mainprogs/overlap-Chebyshev/invert/log_files/
mainprogs/overlap-Chebyshev/invert/run.sh
mainprogs/overlap-Chebyshev/invert/test.err
mainprogs/overlap-Chebyshev/invert/invert
mainprogs/overlap-Chebyshev/mesons/mesons
mainprogs/overlap-Chebyshev/invert/_params.ini_
mainprogs/overlap-Chebyshev/invert/test.txt
mainprogs/overlap-Chebyshev/invert/params_files/
